.description {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    
    &_title{
        display: block;
        font-family: 'Ibarra Real Nova';
        font-weight: 700;
        font-size: 40px;
        line-height: 42px;
        letter-spacing: -0.357143px;
        color: #33323D;
    }

    &_right{
        width: 635px;
        height: 125px;
    }

    &_text{
        font-family: 'Public Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #33323D;
        mix-blend-mode: normal;
        opacity: 0.8;
        margin-bottom: 25px;
    }

    &_icon{
        margin-right: 15px;
    }
}

.line {
    background: #33323D;
    mix-blend-mode: normal;
    opacity: 0.15;
    border-top: 1px solid #000;
    margin-top: 100px;
}

.lines {
    background: #33323D;
    mix-blend-mode: normal;
    opacity: 0.15;
    border-top: 1px solid #000;
    margin-top: 240px;
}

.contact {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;

    &_title{
        font-family: 'Ibarra Real Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 42px;
        letter-spacing: -0.357143px;
        color: #33323D;
    }

    &_right{
        
    }

    &_text{
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 30px;
        color: #33323D;
        mix-blend-mode: normal;
        opacity: 0.8;
        margin-bottom: 8px;
    }

    &_input{
        width: 100%;
        height: 48px;
        background: #33323D;
        mix-blend-mode: normal;
        opacity: 0.1;
        color: #33323D;
        margin-bottom: 24px;
}

    &_inputs {
        width: 635px;
        height: 96px;
        background: #33323D;
        mix-blend-mode: normal;
        opacity: 0.1;
        color: #33323D;
        margin-bottom: 24px;
}
    &_btn{
        font-family: 'Public Sans';
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #203A4C;
        padding: 17px 24px;
        border: 0;
    }

    &_btn:hover{
        background: #5FB4A2;
        transition-duration: 1s;
       
    }
    }





