.section {

    &_first {
        display: flex;
        justify-content: space-between;
    }

    &_text{
        width: 350px;
        height: 600px;
        margin-right: 94px;
    }

    &_heading{
        font-family: 'Ibarra Real Nova';
        font-weight: 700;
        font-size: 40px;
        line-height: 42px;
        letter-spacing: -0.357143px;
        color: #33323D;
        margin-bottom: 30px;
        padding-top: 50px;
    }

    &_description{
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #33323D;
        mix-blend-mode: normal;
        opacity: 0.8;
        margin-bottom: 30px;
    }

    &_link{
        font-family: 'Public Sans';
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #33323D;
        text-decoration: none;
        border: 1px solid #33323D;
        padding-top: 17px;
        padding-bottom: 17px;
        padding-left: 32px;
        padding-right: 36px;
    }

    &_link:hover{
        background: #33323D;
        color: white;
        transition-duration: 1s;
}
}

